[/]
action-move-left=@as []
action-move-right=@as []
auto-close=true
expand-down=['<Shift><Control>End']
expand-up=['<Shift><Control>Home']
follow-cursor=false
global-presets=true
grid-sizes='4x4,8x6,6x4'
move-down=['<Shift><Control>End']
move-left=['d']
move-right=['<Control>Right']
move-up=['<Shift><Control>Home']
preset-resize-1=['<Shift><Control>1']
preset-resize-11=['<Control><Super>1']
preset-resize-2=['<Shift><Control>2']
resize1='4x4 1:1 2:4'
resize2='4x4 3:1 4:4'
show-toggle-tiling=['<Control>Return']
snap-to-neighbors=['<Shift><Control>s']
